/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
//fonts
$font-family-sans-serif: “Inter”, sans-serif;
$presentation-font-size-root: 35px;

// colors
$theme-purple: #BF65C5;
$theme-blue: #046;
$theme-cream: #F5F5F5;
$theme-dark-purple: #1A1626;
$theme-orange: #d35400;

// headings
$presentation-heading-font: "Inter";

$body-bg: white;
$body-color: black;
$link-color: $theme-purple;
$selection-bg: $theme-blue;


/*-- scss:rules --*/

.reveal a {
  line-height: 1.5em;
}


/* Header colors for Reveal.js slides */
.reveal h3 {
  color: $theme-blue !important;
}

